*{
    margin:0;
    border:0;
}
html{
    height:100%;
}
.container{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}
#chosendate{
    border: 2px solid green;
    border-radius: 5px
}
.dropdown{
    position: relative;
    display: inline-block;
}
.all-countries{
    display: none;
    position: absolute;
    z-index:1;
}
.dropdown:hover .all-countries{
    display:block;
}
html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


body {
    background-color: #F5F5F5;
}

.calender {
    max-width: max-content;
    background-color: #fff;
    border: 2px solid #080808;
    border-radius: 8px;
}

.month-indicator {
    text-align: center;
    font-weight: 500;
}

.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 200px);
}

.day-of-week {
    margin-top: 1.25em;
}

.day-of-week>* {
    font-weight: 500;
    text-align: center;
}

.date-grid {
    margin-top: 0.5em;
}

.date-grid button {
    margin: 5px;
    height: 100px;
    font-size: large;
    border: solid 7px #DCDCDC;
    background-color: transparent;
}

.date{
    margin:0px;
    padding:0px;
    position:relative;
    font-size:15px;
    text-align:left;
}
.covid-data{
    font-size: 10px;
    line-height: normal;
    text-align: left;
}

h4 {
    font-size: 20px;
    padding-top: 10px;
    color: gray;
}
